<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Filter</title>
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>
        {{template "page" .}}
    </body>
</html>
